---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=MAP_QUEST_API_KEY&location=erwin,%20tn
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 28 Sep 2020 16:49:28 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"erwin,
        tn"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Erwin","adminArea5Type":"City","adminArea4":"Unicoi
        County","adminArea4Type":"County","adminArea3":"TN","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282026673","unknownInput":"","type":"s","latLng":{"lat":36.147506,"lng":-82.413996},"displayLatLng":{"lat":36.147506,"lng":-82.413996},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=MAP_QUEST_API_KEY&type=map&size=225,160&locations=36.147506,-82.413996|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1806681370"}]}]}'
  recorded_at: Mon, 28 Sep 2020 16:49:28 GMT
[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=OPEN_WEATHER_API_KEY&exclude=minutely&lat=36.147506&lon=-82.413996&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":36.15,"lon":-82.41,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1601311769,"sunrise":1601292157,"sunset":1601335049,"temp":66.94,"feels_like":70.39,"pressure":1015,"humidity":84,"dew_point":61.95,"uvi":6.98,"clouds":27,"visibility":10000,"wind_speed":1.01,"wind_deg":202,"wind_gust":8.01,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"hourly":[{"dt":1601308800,"temp":66.94,"feels_like":67.33,"pressure":1015,"humidity":84,"dew_point":61.95,"clouds":27,"visibility":10000,"wind_speed":6.42,"wind_deg":186,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0.27},{"dt":1601312400,"temp":72.45,"feels_like":71.4,"pressure":1013,"humidity":67,"dew_point":60.87,"clouds":25,"visibility":10000,"wind_speed":8.25,"wind_deg":205,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0.28},{"dt":1601316000,"temp":76.64,"feels_like":74.55,"pressure":1011,"humidity":57,"dew_point":60.28,"clouds":22,"visibility":10000,"wind_speed":9.69,"wind_deg":198,"weather":[{"id":801,"main":"Clouds","description":"few
        clou[...]
