---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=MAP_QUEST_API_KEY&location=erwin,%20tn
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 23 Sep 2020 01:31:26 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"erwin,
        tn"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Erwin","adminArea5Type":"City","adminArea4":"Unicoi
        County","adminArea4Type":"County","adminArea3":"TN","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282026673","unknownInput":"","type":"s","latLng":{"lat":36.147506,"lng":-82.413996},"displayLatLng":{"lat":36.147506,"lng":-82.413996},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=MAP_QUEST_API_KEY&type=map&size=225,160&locations=36.147506,-82.413996|marker-sm-50318A-1&scalebar=true&zoom=12&rand=355386799"}]}]}'
  recorded_at: Wed, 23 Sep 2020 01:31:26 GMT
[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=OPEN_WEATHER_API_KEY&exclude=minutely&lat=36.147506&lon=-82.413996&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":36.15,"lon":-82.41,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1600824686,"sunrise":1600773476,"sunset":1600817187,"temp":52.34,"feels_like":51.35,"pressure":1021,"humidity":91,"dew_point":49.8,"uvi":8.11,"clouds":100,"visibility":10000,"wind_speed":1.81,"wind_deg":192,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1600822800,"temp":52.34,"feels_like":51.35,"pressure":1021,"humidity":91,"dew_point":49.8,"clouds":100,"visibility":10000,"wind_speed":1.81,"wind_deg":192,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1600826400,"temp":53.65,"feels_like":52.41,"pressure":1021,"humidity":79,"dew_point":47.3,"clouds":100,"visibility":10000,"wind_speed":1.12,"wind_deg":195,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1600830000,"temp":53.02,"feels_like":51.3,"pressure":1020,"humidity":75,"dew_point":45.32,"clouds":99,"visibility":10000,"wind_speed":1.12,"wind_deg":273,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds[...]
