---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=MAP_QUEST_API_KEY&location=erwin,%20tn
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 22 Sep 2020 22:22:07 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"erwin,
        tn"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Erwin","adminArea5Type":"City","adminArea4":"Unicoi
        County","adminArea4Type":"County","adminArea3":"TN","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282026673","unknownInput":"","type":"s","latLng":{"lat":36.147506,"lng":-82.413996},"displayLatLng":{"lat":36.147506,"lng":-82.413996},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=MAP_QUEST_API_KEY&type=map&size=225,160&locations=36.147506,-82.413996|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-867387576"}]}]}'
  recorded_at: Tue, 22 Sep 2020 22:22:07 GMT
[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=OPEN_WEATHER_API_KEY&exclude=minutely&lat=36.147506&lon=-82.413996&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":36.15,"lon":-82.41,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1600813287,"sunrise":1600773476,"sunset":1600817187,"temp":67.05,"feels_like":66.13,"pressure":1019,"humidity":53,"dew_point":49.37,"uvi":8.11,"clouds":98,"visibility":10000,"wind_speed":1.45,"wind_deg":288,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1600812000,"temp":67.05,"feels_like":66.13,"pressure":1019,"humidity":53,"dew_point":49.37,"clouds":98,"visibility":10000,"wind_speed":1.45,"wind_deg":288,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1600815600,"temp":63.48,"feels_like":62.62,"pressure":1019,"humidity":58,"dew_point":48.47,"clouds":98,"visibility":10000,"wind_speed":0.94,"wind_deg":222,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1600819200,"temp":58.96,"feels_like":57.06,"pressure":1020,"humidity":61,"dew_point":45.55,"clouds":98,"visibility":10000,"wind_speed":1.54,"wind_deg":201,"weather":[{"id":804,"main":"Clouds","description":"overcast
        cloud[...]
