---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=MAP_QUEST_API_KEY&location=denver,%20co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 22 Sep 2020 22:23:55 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,
        co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=MAP_QUEST_API_KEY&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1498914398"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=MAP_QUEST_API_KEY&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=-445731295"}]}]}'
  recorded_at: Tue, 22 Sep 2020 22:23:55 GMT
[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=OPEN_WEATHER_API_KEY&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1600813436,"sunrise":1600778883,"sunset":1600822611,"temp":82.04,"feels_like":72.39,"pressure":1020,"humidity":18,"dew_point":34.39,"uvi":6.48,"clouds":75,"visibility":10000,"wind_speed":11.41,"wind_deg":160,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1600812000,"temp":82.04,"feels_like":77,"pressure":1020,"humidity":18,"dew_point":34.39,"clouds":75,"visibility":10000,"wind_speed":3.22,"wind_deg":134,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1600815600,"temp":83.79,"feels_like":77.58,"pressure":1017,"humidity":16,"dew_point":32.86,"clouds":43,"visibility":10000,"wind_speed":4.9,"wind_deg":153,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1600819200,"temp":78.75,"feels_like":63.12,"pressure":1016,"humidity":24,"dew_point":38.95,"clouds":35,"visibility":10000,"wind_speed":23.42,"wind_deg":249,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0.12},{"dt":1600822800,"temp":70.11,"feels_like":60.67,"pressure":1017,"humidity":41,"dew_point":45.34,"clouds":98,"visibility":10000,"wind_speed":14.81,"wind_deg":192,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10n"}],"pop":0.76,"rain":{"1h":1.13}},{"dt":1600826400,"temp":70.66,"feels_like":64.65,"pressure":1018,"humidity":38,"dew_point":43.84,"clouds":100,"visibility":10000,"wind_speed":8.14,"wind_deg":136,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.76,"rain":{"1h":0.15}},{"dt":1600830000,"temp":69.24,"feels_like":63.81,"pressure":1019,"humidity":41,"dew_point":44.58,"clouds":100,"visibility":10000,"wind_speed":7.38,"wind_deg":138,"weather":[{"id":804,"main":"Clouds","descripti[...]
[...]
