---
http_interactions:
- request:
    method: get
    uri: https://pixabay.com/api/?image_type=photo&key=PIXABAY_API_KEY&per_page=5&q=denver&safesearch=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Reset:
      - '0.72'
      Allow:
      - GET, POST, OPTIONS
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"total":79,"totalHits":79,"hits":[{"id":5354477,"pageURL":"https://pixabay.com/photos/city-cinema-vintage-valencia-5354477/","type":"photo","tags":"city,
        cinema, vintage","previewURL":"https://cdn.pixabay.com/photo/2020/06/29/21/13/city-5354477_150.jpg","previewWidth":100,"previewHeight":150,"webformatURL":"https://pixabay.com/get/53e3d0474e55ab14f1dc846096293f7d1d39d9e1514c704f752f73d6934bcd5b_640.jpg","webformatWidth":427,"webformatHeight":640,"largeImageURL":"https://pixabay.com/get/53e3d0474e55ab14f6da8c7dda7936761637d8e257536c48732f7bdc9549c350bb_1280.jpg","imageWidth":3297,"imageHeight":4946,"imageSize":4626920,"views":5470,"downloads":4379,"favorites":15,"likes":15,"comments":5,"user_id":17265152,"user":"AveCalvar","userImageURL":"https://cdn.pixabay.com/user/2020/06/29/21-10-30-636_250x250.jpg"},{"id":2617524,"pageURL":"https://pixabay.com/photos/larimer-lodo-denver-colorado-2617524/","type":"photo","tags":"larimer,
        lodo, denver","previewURL":"https://cdn.pixabay.com/photo/2017/08/10/03/04/larimer-2617524_150.jpg","previewWidth":150,"previewHeight":99,"webformatURL":"https://pixabay.com/get/54e6d4444f50a814f1dc846096293f7d1d39d9e1514c704f752f73d6934bcd5b_640.jpg","webformatWidth":640,"webformatHeight":426,"large[...]
