---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=MAP_QUEST_API_KEY&location=erwin,%20tn
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 22 Sep 2020 22:55:04 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"erwin,
        tn"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Erwin","adminArea5Type":"City","adminArea4":"Unicoi
        County","adminArea4Type":"County","adminArea3":"TN","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282026673","unknownInput":"","type":"s","latLng":{"lat":36.147506,"lng":-82.413996},"displayLatLng":{"lat":36.147506,"lng":-82.413996},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=MAP_QUEST_API_KEY&type=map&size=225,160&locations=36.147506,-82.413996|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1157575785"}]}]}'
  recorded_at: Tue, 22 Sep 2020 22:55:04 GMT
[...]
