---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=OPEN_WEATHER_API_KEY&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1601311776,"sunrise":1601297620,"sunset":1601340416,"temp":52.07,"feels_like":43.88,"pressure":1031,"humidity":37,"dew_point":27.25,"uvi":6.05,"clouds":20,"visibility":10000,"wind_speed":6.93,"wind_deg":300,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"hourly":[{"dt":1601308800,"temp":52.07,"feels_like":43.88,"pressure":1031,"humidity":37,"dew_point":27.25,"clouds":20,"visibility":10000,"wind_speed":6.93,"wind_deg":349,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1601312400,"temp":53.38,"feels_like":43.65,"pressure":1030,"humidity":35,"dew_point":27.09,"clouds":10,"visibility":10000,"wind_speed":9.64,"wind_deg":6,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1601316000,"temp":55.98,"feels_like":46.81,"pressure":1028,"humidity":31,"dew_point":26.51,"clouds":4,"visibility":10000,"wind_speed":8.48,"wind_deg":7,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"[...]
